/* CUSTOM FONT */
@font-face {
  font-family: 'TKindred';
  src: url('./assets/custom/TANKINDRED-Display.otf') format('opentype'),
       url('./assets/custom/TANKINDRED-Display.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*default all elements to have a margin/padding value of 0*/
*{
  margin: 0px;
  padding: 0px;
  font-family: Monaco, Monospace;
  color: #2A282C;
}

/* STYLE SECTIONING TAGS */
body {
  /*image created with Colorffy's Mesh Gradient generator, implemented with the help of Copilot & W3Schools*/
  /*background-image: url("assets/background.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F4F1DE;
}
main{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 10%;
  
}
section {
  border-style: groove;
  border-radius: 20px;
  background-color: #73947f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subSection {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #AE9797;
}

/* GENERAL TEXT STYLING */
h3 {
  padding: 10px;
}
p {
  padding: 10px;
}
.leftText {
  text-align: left;
  margin-left: 20px;
}
.rightText{
  text-align: right;
}
.centerText{
  text-align: center;
}
button{
  background-color: #F4F1DE;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
button:hover {
  background-color: #d2ccb6;
}

/* STYLE NAV BAR */
#navBar{
  display: flex;
}
#navUL {
  display: flex;
  list-style: none;
  align-items: center;
  padding:15px;
  margin-bottom:5px;
}
.navTab {
  display: inline;
  color:#2A282C;
}
.navTab a {
  text-decoration: none;
  font-size: 1.0em;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.2s;
}
.navTab a:hover {
  background-color: #d2ccb6;
  border-radius: 15px;  
}
#classLogo{
  display:flex;
  height: 35px;
  width: auto;
  transition:0.2s;
  margin-right: 10px;
}
#classLogo:hover{
  transform: scale(1.1);
  margin-right: 15px; /* adds animation to "slide" rest of bar further to right */
}

/* HOME */
#introBox {
  position:relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  height: 500px;
  overflow: hidden;

}
.introImg {
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url("./assets/castle.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  transition: filter 0.2s ease-in-out;
}
#introBox:hover .introImg {
  filter: blur(2px);
}
#introBox h1 {
  font-family: 'TKindred', sans-serif;
  font-size: 2em;
  color: #F4F1DE;
  text-shadow: 2px 2px #3D405B;
  text-align: left;
  padding-right: 50px;
  z-index: 1;
}
#fakeIDE {
  display: flex;
}
#codeSide {
  color: #F4F1DE;
  width: 60%;
  height: auto;
  background-color: #2A282C;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}
#console {
  color: #F4F1DE;
  background-color: #3D405B;
  width: 40%;
}
.codeLine {
  margin: 0px;
  padding: 0px;
  color: #F4F1DE;
  text-align: left;
}
.codeLink {
  display:block;
  text-align: left;
  text-decoration-line: none;
  margin: 0px;
  padding: 0px;
  color: #F4F1DE;
}
.codeLink:hover {
  background-color: #3D405B;
}
#translatable {
  color: #F4F1DE
}

/* ABOUT ME */
section li{
  padding-left: 20px;
  text-align: left;
  display: block;
}
section ul {
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}
section p {
  text-align: left;
}
.galleryImg {
  margin: auto;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 11%;
  margin-bottom: 7%;
  border-radius: 15px;
}

/* PORTFOLIOS */
.link {
  border-color: #d4d0d8;
  border-width: 2px;
  border-style: double;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
section a:hover, a:active {
  background-color: #d4d0d8;
}
.portfolioImg {
  display: inline-block;
  margin: auto;
  height: 300px;
  width: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}
/* code adapted from W3Schools example/tutorial*/
.galleryContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 6px;
  justify-content: center;
}
div.gallery {
  box-sizing: border-box;
  display: inline;
  margin: 3px;
  border: 2px groove #ffffff;
  background-color: #AE9797;
  float: left;
  border-radius: 20px;
  width: 20%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}