/*default all elements to have a margin/padding value of 0*/
*{
  margin: 0px;
  padding: 0px;
}

/* STYLE SECTIONING TAGS */
body {
 background-color: #EBFAFF; 
}

main{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 10%;
  
}


/* STYLE TEXT */

h3 {
  color: #402d4d;
  font-family: Courier New, monospace;
  padding: 10px;
}

p{
  font-family: Monaco, monospace;
  padding: 10px;
}

li{
  font-family: Monaco, monospace;
  /*padding-left: 30px;*/
}

section {
  border-style: groove;
  border-radius: 20px;
  background-color: #beb5c4;
  margin-top: 10px;
  margin-bottom: 10px;

}

section ul {
  list-style-type: disc;
  padding-left: 40px
}

#leftText {
  text-align: left;
  margin-left: 20px
}

.rightText{
  text-align: right;
}

/* STYLE IMAGES */
.round{
  border-radius: 50%;
  border: 3px groove white;
  margin: 10px;
}


/* STYLE NAV BAR */
nav{
  border-style: groove;
  background-color: #7f8b7e;
  color: #E0F5E6;
  text-align: center;
  
}
#navUL {
  list-style-type: none;
  overflow: hidden;
  padding: 20px;
}
li {
  display: inline;
}
li a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  padding: 10px;
}
li a:hover {
  background-color: #a0b29f;
}

