/*default all elements to have a margin/padding value of 0*/
*{
  margin: 0px;
  padding: 0px;
  font-family: Monaco, Monospace;
  color: #2A282C;
}

/* STYLE NAV BAR */
#navBar{
  display: flex;
  text-align: left;
  padding: 15px;
}
#navUL {
  display: flex;
  list-style: none;
  align-items: center;
}
li {
  display: inline;
  color:#2A282C;
}
li a {
  text-decoration: none;
  font-size: 1.0em;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
li a:hover {
  background-color: #d2ccb6;
  border-radius: 15px;
}

/* STYLE SECTIONING TAGS */
body {
  /*image created with Colorffy's Mesh Gradient generator, implemented with the help of Copilot & W3Schools*/
  /*background-image: url("assets/background.png");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #F4F1DE;
}
main{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 10%;
  margin-left: 10%;
  
}
section {
  border-style: groove;
  border-radius: 20px;
  background-color: #73947f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.subSection {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 30%;
  margin-left: 30%;
  background-color: #AE9797;
}

/*STYLE PORTFOLIOS*/
.link {
  border-color: #d4d0d8;
  border-width: 2px;
  border-style: double;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
section a:hover, a:active {
  background-color: #d4d0d8;
}
.portfolioImg {
  display: inline-block;
  margin: auto;
  height: 300px;
  width: auto;
  object-fit: cover;
  margin: 10px;
  border-radius: 10px;
}
/* code adapted from W3Schools example/tutorial*/
.galleryContainer {
  display: flex;
  flex-wrap: wrap; 
  gap: 6px;
  justify-content: center;
}
div.gallery {
  box-sizing: border-box;
  display: inline;
  margin: 3px;
  border: 2px groove #ffffff;
  background-color: #AE9797;
  float: left;
  border-radius: 20px;
  width: 20%;
  height: auto;
}
div.desc {
  padding: 15px;
  text-align: center;
}

/* STYLE TEXT */
h3 {
  padding: 10px;
}
p {
  padding: 10px;
}
.codeFont {
  font-family: Courier New, Monospace;
}
.leftText {
  text-align: left;
  margin-left: 20px;
}
.rightText{
  text-align: right;
}
.centerText{
  text-align: center;
}

/* ABOUT ME STYLING */
section li{
  padding-left: 20px;
  text-align: left;
  display: block;
}
section ul {
  list-style-type: disc;
  padding-left: 40px;
  text-align: left;
}
section p {
  text-align: left;
}

.galleryImg {
  margin: auto;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 11%;
  margin-bottom: 7%;
  border-radius: 15px;
}


/* STYLE IMAGES */
.round{
  border-radius: 25%;
  border: 3px groove white;
  margin: 10px;
}

#classLogo{
  display:flex;
  height: 50px;
  width: auto;
  margin-right: 15px;
}

.header {
  width: 100%;
  height: 250px; 
  border-width: 1px;
  border-style: solid;
  border-color: #3D405B;
  object-fit: cover;
  overflow: hidden;
  margin-top: 15px;
  
}

#translateButton {
  background-color: #F4F1DE;
  border-radius: 15px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#translateButton:hover {
  background-color: #d2ccb6;
}

.codeLink {
  text-align: left;
  text-decoration-line: none;
}
.codeLink:hover {
  background-color: #d2ccb6;
}
